<header></header>

<!-- <%= htmlWebpackPlugin.options.siteName %> -->

<!-- <img src=" <%= require("../assets/chicken.jpg") %> " alt="" class="chicken"> -->

<main>
  <div class="logo-container">
    <svg
      class="w-icon"
      width="64"
      height="64"
      viewBox="0 0 64 64"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="32" cy="32" r="31" stroke="white" stroke-width="2" />
      <g clip-path="url(#clip0_20_44)">
        <path
          d="M12.3084 24.3135V24.791C11.7973 24.8077 11.433 24.8537 11.215 24.9291C10.8298 25.0717 10.6369 25.3313 10.6369 25.7083C10.6369 25.876 10.6601 26.0392 10.7061 26.1985C10.7521 26.3577 10.8213 26.5628 10.9134 26.8141C10.9134 26.8141 11.3117 27.8504 11.8477 29.2446C12.2879 30.3897 13.3895 31.1439 14.6162 31.1401C15.8429 31.1361 16.9398 30.375 17.3727 29.2271V29.2269L16.1538 26.1231C15.9276 25.5535 15.5882 25.1722 15.1358 24.9794C14.8678 24.8622 14.4614 24.7995 13.9169 24.791V24.3135H20.8034V24.791C20.1582 24.7995 19.7143 24.8455 19.4714 24.9291C19.0859 25.0717 18.8933 25.3649 18.8933 25.8088C18.8933 25.9596 18.91 26.0917 18.9436 26.2047C18.977 26.3179 19.0608 26.5503 19.1949 26.9022L22.9146 36.5534L26.1307 27.8195C26.3157 27.3253 26.4423 26.8855 26.5087 26.5001C26.5509 26.2823 26.571 26.1064 26.571 25.9723C26.571 25.4947 26.3458 25.1638 25.8934 24.9794C25.6415 24.8706 25.2645 24.8077 24.7618 24.791V24.3135H29.8645V24.791C29.4041 24.858 29.0522 24.9627 28.8089 25.1051C28.3726 25.3482 28.0469 25.767 27.8277 26.3617L25.0886 34.0149L24.0205 36.968L22.4747 41.6428H22.0852L21.0421 38.6646V38.6644C20.5626 37.4262 19.3654 36.6153 18.0378 36.6292C16.7099 36.6431 15.5303 37.4791 15.0769 38.7269C14.4739 40.3865 14.0175 41.6428 14.0175 41.6428H13.6278L11.7806 36.2894L9.56887 30.2701C8.65562 27.7903 8.02106 26.2676 7.66497 25.702C7.30888 25.1366 6.75394 24.8328 5.99994 24.791V24.3135H12.3084Z"
          fill="white"
        />
      </g>
      <defs>
        <clipPath id="clip0_20_44">
          <rect
            width="24"
            height="24"
            fill="white"
            transform="translate(6 21)"
          />
        </clipPath>
      </defs>
    </svg>
  </div>
</main>
<p>westxdx</p>

<!-- <img src=" <%= require("../assets/chicken.jpg") %> " alt="" class="chicken"> -->

<footer></footer>
